.forms{
   background-color: white;
   text-align: center;
   float: right;
   width: 400px;
   height: 300px;
   margin: 80px;
   padding: 100px;
   border-radius: 10px;
}

body{
    background-color:lightsalmon;
}
.button{
    background-color: green;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 .section{
    color: white;
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .caixa{
    width: 300px;
    height: 30px;
    margin-top: 0px;
    border-radius: 6px;
 }